source "https://api.berkshelf.com"

cookbook "apt"
cookbook "build-essential"
cookbook "ruby_build"
cookbook "ruby_rbenv"
cookbook "imagemagick"
cookbook "locale"
cookbook "capybara-webkit"
cookbook "git"
cookbook "postgresql",        git: "git://github.com/phlipper/chef-postgresql.git"
cookbook "timezone",          git: "git://github.com/winhamwr/chef-timezone.git"
cookbook "oh_my_zsh",         git: "git://github.com/tdtadeu/oh-my-zsh-chef.git"
